body,html{
	width: 100%;
	height: 100%;
}
.main-background{
	background-image: url('/res/background.jpg');
	background-color: rgba(255, 255, 255, 0);
	opacity: 0.5;
	filter: alpha(opacity=50);
	position: absolute;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}
.navbar{
	margin-bottom:0px;
}
.navbar-brand{
	width: 240px;
}
.navbar-brand img{
	background-color: #d4d4d4;
	max-width: 210px;
	position: fixed;
}
.container {
  margin-left: 8px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 512px;
  /* margin-bottom: 60px; */
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  right: 0px;
  top: 100px;
  left: initial;
  width: 100%;
  padding-left: 54%;
  color: red;
  background-color: rgba(0, 126, 255, 0.1);
  height: 210px;
  font-size: 40px;
  font-family: fantasy;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.menu-categories {
    display: inline-block;
    position: fixed;
    top: 0px;
    padding-top: 115px;
    width: 280px;
    background: rgba(255, 255, 255, 0.54);
    height: 100%;
    color: #686161!important;
    overflow-y: auto;
}

.menu {
    line-height: 47px;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 2px;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: padding-left 0.5s; /* For Safari 3.1 to 6.0 */
    transition: padding-left 0.5s;
}

.menu:hover {
    /* padding-left: 30px; */
    color: #ff0000!important;
}

.menu a {
    color: inherit;
    display: block;
    text-decoration: none;
}

.menu a:hover {
    color: inherit;
    text-decoration: initial;
}

#menu-items-container {
    padding-left: 300px;
    padding-right: 20px;
    padding-top: 30px;
    min-height: 100%;
    padding-bottom: 20px;
}

.menu-item {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 5px;
    border: 1px solid #b3b2b2;
    /* margin: 5px; */
    border-radius: 3px;
    background-color: rgba(245, 226, 216, 0.51);
    position: relative;
}

#menu-items-container h1 {
    text-align: center;
}

.menu-data button {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.menu-item .name {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #c10202;
}

.menu-item .price, .menu-data .unit {
    display: inline-block;
    line-height: 50px;
    font-size: 18px;
    color: #07526d;
}

.unit {
    /* line-height: 25px!important; */
    /* text-align: center; */
}
.menu img {
    max-width: 100%;
}

.description {
    color: #003abe;
}

.unit-container {
    background-color: rgba(245, 226, 216, 0.51);
    border: 1px solid #b3b2b2;
    border-radius: 3px;
}

.yogen-fruz-item{
	display:inline-block;
	border:1px solid #CACACA;
	vertical-align: top;
	background: rgba(255, 255, 255, 0.57);
	margin-bottom: 20px;
}

.yogen-fruz-item.flavurs {
    width: 58.89%;
    background-color: rgba(177, 229, 252, 0.83);
}

.yogen-fruz-item.topIt {
    width: 39.999%;
}

.yogen-fruz-item .header {
    font-size: 40px;
    text-align: center;
    color: #dd0fe0;
    display: inline-block;
    margin-left: 80px;
}

.yogen-fruz-item .description {
    display: inline-block;
    font-size: 10px;
}

.yogen-fruz-item .price {display: inline-block;padding-left: 20px;padding-right: 20px;}

.price-container {
    width: 100%;
    height: 20px;
    text-align: center;
}

.yogen-fruz-item .type {
    display: inline-block;
    width: 120px;
    margin-bottom: 15px;
    vertical-align: top;
}

.yogen-fruz-item .types-container {
    text-align: center;
}

.yogen-fruz-item .type img {
    width: 100%;
    height: 100px;
}

.yogen-fruz-item.topIt .type {
    display: block;
    width: 100%;
    font-weight: bold;
    margin-bottom: 4px;
}