body,html{
	width: 100%;
	height: 100%;
}
.main-background{
	background-image: url('/res/background.jpg');
	background-color: rgba(255, 255, 255, 0);
	opacity: 0.5;
	filter: alpha(opacity=50);
	position: absolute;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}
.navbar{
	margin-bottom:0px;
	position: absolute;
	width: 100%;
}
.navbar-brand{
	width: 240px;
	text-align: center;
}
.navbar-brand img{
	background-color: #d4d4d4;
	padding: 5px;
	max-width: 210px;
	/* position: fixed; */
	display: inline-block;
}
.container {
  margin-left: 8px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  /* margin-bottom: 60px; */
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  right: 0px;
  top: 100px;
  left: initial;
  width: 100%;
  padding-left: 54%;
  color: red;
  background-color: rgba(0, 126, 255, 0.1);
  height: 210px;
  font-size: 40px;
  font-family: fantasy;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  width: 100%;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.menu-categories {
    display: inline-block;
    /* position: absolute; */
    top: 0px;
    padding-top: 105px;
    /* min-width: 251px; */
    width: 19%;
    background: rgba(255, 255, 255, 0.54);
    /* height: 100%; */
    color: #686161!important;
    overflow-y: auto;
    vertical-align: top;
}

.menu {
    line-height: 47px;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding: 2px;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: padding 0.5s; /* For Safari 3.1 to 6.0 */
    transition: padding 0.5s;
    /* height: 52px; */
}

.menu:hover {
    padding: 5px; 
    color: #ff0000!important;
}

.menu a {
    color: inherit;
    display: block;
    text-decoration: none;
    position: relative;
}

.menu a:hover {
    color: inherit;
    text-decoration: initial;
}

#menu-items-container {
    padding-right: 20px;
    padding-top: 70px;
    min-height: 100%;
    padding-bottom: 20px;
    width: 80%;
    display: inline-block;
    position: relative;
}

.menu-item {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 5px;
    border: 1px solid #b3b2b2;
    /* margin: 5px; */
    border-radius: 3px;
    background-color: rgba(245, 226, 216, 0.51);
    position: relative;
}

#menu-items-container h1 {
    text-align: center;
}

.menu-data button {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.menu-item .name {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #c10202;
}

.menu-item .price, .menu-data .unit {
    display: inline-block;
    line-height: 50px;
    font-size: 18px;
    color: #07526d;
}

.unit {
    /* line-height: 25px!important; */
    /* text-align: center; */
}
.menu img {
    width: 100%;
    height: 45px;
}

.description {
    color: #003abe;
}

.unit-container {
    background-color: rgba(245, 226, 216, 0.51);
    border: 1px solid #b3b2b2;
    border-radius: 3px;
}

.yogen-fruz-item{
	display:inline-block;
	border:1px solid #CACACA;
	vertical-align: top;
	background: rgba(255, 255, 255, 0.57);
	margin-bottom: 20px;
}

.yogen-fruz-item.flavurs {
    width: 72.89%;
    background-color: rgba(177, 229, 252, 0.83);
}

.yogen-fruz-item.topIt {
    width: 24.999%;
    background-color: rgba(247, 177, 252, 0.83);
}
.yogen-fruz-item.uSensations{
	background-color: rgba(252, 177, 177, 0.83);
}
.yogen-fruz-item.smoothies {
    background-color: rgba(182, 252, 177, 0.83);
    width: 48%;
}
.yogen-fruz-item.shakeItUp {
    background-color: rgba(177, 186, 252, 0.83);
}

.yogen-fruz-item .header {
    font-size: 40px;
    text-align: center;
    color: #dd0fe0;
    display: inline-block;
    margin-left: 80px;
}

.yogen-fruz-item .description {
    display: inline-block;
    font-size: 10px;
}

.yogen-fruz-item .price {display: inline-block;padding-left: 20px;padding-right: 20px;}

.price-container {
    width: 100%;
    height: 25px;
    text-align: center;
}

.yogen-fruz-item .type {
    display: inline-block;
    width: 155px;
    margin-bottom: 15px;
    vertical-align: top;
}

.yogen-fruz-item .types-container {
    text-align: center;
}

.yogen-fruz-item .type img {
    width: 100%;
    height: 141px;
}

.yogen-fruz-item.topIt .type {
    display: block;
    width: 100%;
    font-weight: bold;
    margin-bottom: 4px;
}

.yogen-fruz-item span.unit {
    line-height: 20px;
    font-size: 12px;
    border: 1px solid #000000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.footer {
    width: 100%;
    min-height: 150px;
    background: #4d4949;
    color: #b2aeae;
    padding: 20px;
}

.footer .contact {
    line-height: 35px;
    border-left: 1px solid #322b2b;
    width: 47%;
    display: inline-block;
    padding-left: 15px;
}

.footer .contact .glyphicon {
    font-size: 20px;
    padding-right: 10px;
}

.offers {
    margin-top: 69px;
    text-align: center;
    width: 100%;
    margin-right: 8px;
    margin-bottom: 50px;
}

.offer {
    display: inline-block;
    width: 270px;
    /* border: 1px solid #4c5fb3; */
    margin: 5px;
    vertical-align: top;
    /* height: 200px; */
    border-radius: 5px;
    text-align: left;
    /* background-color: #b5c9da; */
    font-size: large;
    /* padding: 10px; */
    position: relative;
    margin-top: 20px;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    box-shadow: -1px -1px 1px #885222, 1px 1px 1px #281d14;
}

.offer-name {
    background-color: #42220a;
    /* color: #eee; */
    /* line-height: 30px; */
    text-align: center;
    text-shadow: 0px 3px 1px #6b3d07, 2px 2px 0px #6b4b22;
    color: #d49c4a;
    opacity: 0.8;
    font: 30px 'Museo700';
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    height: 90px;
    display: table-row;
}

.offer-description,.offer-extra,.offer-price {
    padding: 3px;
    color: #583b26;
    padding-left: 30px;
    padding-right: 30px;
}

.offer-price {
    color: #024c05;
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 20px;
}

.offer-extra {
    /* color: #ef0404; */
}

.sidebar-offset {
    /* padding-left: 275px; */
}

.carousel-inner {
    height: 100%;
}

.carousel .item {
    height: 100%;
}

.home-container {
    height: 100vh;
    padding-bottom: 165px;
    box-sizing: border-box;
    padding-top: 50px;
    position: relative;
}

.footer {
    /* position: absolute; */
    bottom: 0px;
}

div#myCarousel {
    height: 100%;
}

.carousel-inner > .item > img {
    min-height: 100%;
}

.offer img.background {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    height: 120%;
    left: 0px;
    z-index: -1;
    box-sizing: content-box;
    /* opacity: 0.8; */
}

.offer-name span {
    vertical-align: middle;
    display: table-cell;
}

.vertical-aligner {
    width: 100%;
    /* height: 100%; */
    display: table;
    /* vertical-align: middle; */
}

.menu a[href="#yogen-fruz"] span {
	position:absolute;
	right: 15px;
	bottom:0px;
	display: inline-block;
	line-height: 10px;
	font-size: 13px;
	color: #0078b2;
}

.build-your-own-item {
    display: inline-block;
    vertical-align: top;
    /* padding: 10px; */
    /* margin: 2%; */
    box-sizing: border-box;
    /* background-color: rgba(200, 221, 200, 0.56); */
    /* box-shadow: -1px -1px 1px #247324, 1px 1px 1px #247324; */
    min-width: 25%;
    min-height: 170px;
    border-radius: 5px;
    max-width: 100%;
}

.build-your-own-item.base {
    width: 45%;
    /* min-height: 200px; */
}

.build-your-own-item.toppings {
    width: 45%;
    /* min-height: 200px; */
}

.build-your-own-item .description {
    font: 20px 'Museo700';
    font-weight: bold;
    text-align: center;
    /* border-bottom: 1px solid #0c880c; */
    padding: 10px;
    color: #c10202;
}

.build-your-own-item .types-container {
    padding: 10px;
    color: #003abe;
}

.build-your-own-item .type {
    width: 20%;
    height: 185px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    display: inline-block;
    border: 1px solid #CACACA;
    vertical-align: top;
}

.build-your-own-item .type:hover {
    cursor:pointer;
    background-color: #457bf4;
    color: #ffffff;
}

.build-your-own-item.base .type, .build-your-own-item.toppings .type {
    width: 49%;
    display: inline-block;
    border: 1px solid #b5b2b2;
    height: 60px;
    font-size: 18px;
    vertical-align: top;
    margin-bottom: 3px;
}

.build-your-own-item.base .types-container .type .name, .build-your-own-item.toppings .types-container .type .name{
	width:100%;
	display: block;
	text-align: center;
}

.build-your-own-item.base .types-container .type .price, .build-your-own-item.toppings .types-container .type .price{
	width:100%;
	display: block;
	text-align: center;
}

.yogen-fruz-item.goGreen {
    width: 44%;
}

.beverage-type img {
    /* max-width: 100px; */
    max-height: 70px;
    margin-bottom: 15px;
}

.beverage-container-type {
    background-color: #62a8c1;
    text-align: center;
    border-radius: 50%;
    width: 100px;
}


.yogen-fruz-item.shakeItUp .image {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

img.shake-it-up {
    width: 400px;
}


.top-content.menu-data {
    padding-top: 0px;
}

.f1-buttons button {
    position: relative;
}

.pizza-size {
    border: 1px solid rgb(183, 182, 182);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: inline-block;
    font-size: 14px;
    position: relative;
}

.pieces {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.line {
    width: 1px;
    position: absolute;
    background-color: rgb(183, 182, 182);
    height: 100%;
    left: 50%;
    z-index: 2;
}

.SMALL .line0{
	
transform: rotate(65deg);
}

.SMALL .line1 {
    transform: rotate(0deg);
}

.SMALL .line2 {
    transform: rotate(120deg);
}

.MEDIUM {
    width: 100px;
    height: 100px;
}


.MEDIUM .line0{	
	transform: rotate(0deg);
}

.MEDIUM .line1 {
    transform: rotate(45deg);
}

.MEDIUM .line2 {
    transform: rotate(90deg);
}

.MEDIUM .line3 {
    transform: rotate(135deg);
}

.LARGE {
    width: 110px;
    height: 110px;
}

.LARGE .line0{	
	transform: rotate(0deg);
}

.LARGE .line1 {
    transform: rotate(30deg);
}

.LARGE .line2 {
    transform: rotate(60deg);
}

.LARGE .line3 {
    transform: rotate(90deg);
}

.LARGE .line4 {
    transform: rotate(120deg);
}

.LARGE .line5 {
    transform: rotate(150deg);
}


.X-LARGE {
    width: 120px;
    height: 120px;
}

.X-LARGE .line0{	
	transform: rotate(0deg);
}

.X-LARGE .line1 {
    transform: rotate(36deg);
}

.X-LARGE .line2 {
    transform: rotate(72deg);
}

.X-LARGE .line3 {
    transform: rotate(108deg);
}

.X-LARGE .line4 {
    transform: rotate(144deg);
}

.X-LARGE .line5 {
    transform: rotate(280deg);
}


.slices,.people {
    font-weight: bold;
    z-index: 4;
    position: absolute;
    top: 13%;
    width: 100%;
}

.people {
    top: 35%;
}

.f1-buttons {
    margin-top: 10px;
}

.toppings .meat-topping, .toppings .veggie-topping {
    width: 24%;
    display: inline-block;
    vertical-align: top;
}

.meat-topping .type, .veggie-topping .type, .crust .type, .sauce .type, .cheese .type {
    border: 1px solid #CACACA;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #CACACA;
}

.meat-topping h4, .veggie-topping h4 {
    font-size: 20px;
    font-weight: 900;
}

.veggie-topping {
    margin-left: 30px;
}

fieldset.toppings {
    text-align: center;
}

fieldset.toppings h4 {
    text-align: left;
}

.types-container span.name, .types-container span.price {
    width: 100%;
    display: inline-block;
}